footer {
  .site-map {
    ul {
      list-style-type: none;
      li a{
        color: #E6E6E6;
        &:hover {
          color: #EF8354;
        }
      }
    }
  }
  .lets-connect {
    i {
      color: #353531;
    }
    a {
      color: #E6E6E6;
      &:hover {
        color: #EF8354;
      }
    }
  }
}