.custom-link-accent-primary {
  color: #E6E6E6;
  &:hover {
    color: #EF8354;
  }
}

.custom-link-accent-secondary-text-primary {
  color: #353531;
  &:hover {
    color: #016FB9;
  }
}

.custom-ul {
  li {
    list-style-image: url("/icons/bullet-point.svg");
  }
}

.custom-underline {
  text-decoration: #016FB9 underline 8px;
  text-underline-offset: 10px;
}
